:root {
  font-family: "Poppins", sans-serif;

  color: rgba(255, 255, 255, 0.87);
  @apply bg-default-bg;

  box-sizing: border-box;

  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
  background-color: #191C1C;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: lighten(#121212, 10%);
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}