:root {
    font-family: "Poppins", sans-serif;
  
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212;
  
    user-select: none;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    -webkit-tap-highlight-color: transparent;
  }