.button {
    border: 1px solid rgba(160, 160, 160, 0.3);
    z-index: 2;

    @apply flex items-center justify-between text-base sm:text-lg font-medium py-[0.65rem] pl-5 pr-3 rounded-lg transition-colors shadow-md;

    span {
        @apply transition-transform;
    }
}

.radial-glow {
    background: radial-gradient(50% 50% at 50% 50%, rgba(61, 171, 171, 0.14) 0%, rgba(61, 171, 138, 0.00) 100%);
    z-index: -1;
}